# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1',thousands  = '.')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

In [7]:
df.dropna(inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 493.8+ KB

In [31]:
df.rename(columns = {'Código de país': 'cod_pais',
                      'Nombre del país': 'nom_pais',
                     'CO2 (kt)': 'emision_co2',
                     'CO2 per cápita (toneladas métricas)': 'emisiones_co2_percapita'}, inplace = True)

In [32]:
#implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash
df.head()

,cod_pais,nom_pais,Región,Año,emision_co2,emisiones_co2_percapita
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165

In [34]:
df['Clave_Hash'] = (df['cod_pais']).apply(hash_function)
df.head()

,cod_pais,nom_pais,Región,Año,emision_co2,emisiones_co2_percapita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [37]:
#construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región
df_valor_distinto = df[['Clave_Hash','cod_pais','nom_pais','Región']].drop_duplicates()

In [40]:
df.drop(['cod_pais', 'nom_pais', 'Región'], inplace = True, axis = 1) 
df#quitar codigo pais nombre y region

        Año  emision_co2  emisiones_co2_percapita  Clave_Hash
26     1986      179.683                 2.868319         910
27     1987      447.374                 7.234964         910
28     1988      612.389                10.026508         910
29     1989      649.059                10.634733         910
30     1990     1840.830                29.620165         910
...     ...          ...                      ...         ...
11122  2007     9732.220                 0.731867         951
11123  2008     7682.370                 0.569255         951
11124  2009     8239.750                 0.600521         951
11125  2010     9028.150                 0.646073         951
11126  2011     9860.560                 0.691698         951

[9029 rows x 4 columns]